body {
    background-color: rgba(39, 33, 33, 0.986);
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    margin: 1em 0 1em 0;
    border: 2px solid #fff;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 1.5em;
}



.reset-btn {
    margin-left: 2em;
    margin-top: 0.3em;
    padding: 1em;
    font-size: 13px;
    cursor: pointer;
    border-radius: 1em;
    position: relative;
    top: 5em;
    left: 18em;
}

.checkboxes {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 4em;
    margin-bottom: 1em;
}

.check {
    margin: 0 1em;
    border: 1px solid #fff;
    border-radius: 1em;
    padding: 0.5em;
    cursor: pointer;
}

.check:hover {
    background-color: #fff;
    color: #000;
    border-radius: 1em;
    padding: 0.5em;
}

.text {
    position: relative;
    right: 11em;
    bottom: 2em;
    margin-bottom: 0.5em;
}

#dimension {
    border-radius: 1.5em;
    padding: 0.8em;
    margin-bottom: 0.5em;
}

.reset-btn:hover {
    background-color: blue;
    color: #fff;
}

.cell {
    border: 1px solid #fff;
    width: 100%;
}

.container {
    display: grid;
    background-color: #000;
}